<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <AppSettings>
    <add key="LogFileDirectory" value="C:\Users\Brajean\source\repos\JobLogger\TestJobLogger\LogFiles"/>
    <add key="ConnectionString" value="Data Source=(LocalDB)\v11.0;Initial Catalog=JobLogger;Integrated Security=True;Pooling=False"/>
  </AppSettings>
</configuration>